#modal {
    background-color: #0E0A14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;  
}

#modal.hide {
    display: none;
}

#modal .content {
    color: white;
    width: 420px;
}

#modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#modal .header a {
    background-image: url("../assets/x.svg");
    width: 20px;
    height: 20px;

    display: flex;
    font-size: 0.01px;
}

#modal .header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;

    display: block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex: 1;
    background-color: var(--bg-field);
    border-radius: 8px 0 0 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    color:  #6c6c80;
}

#modal form input:hover {
    border: 1px solid #25d675de;
    transition: 250ms;
}

#modal form button {
    width: 72px;
    height: 72px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0 8px 8px 0;
    transition: 400ms;
    cursor: pointer;
    outline: none;
}

#modal form button:hover {
    background-color: var(--primary-color-hover);
}

/* MODAL POINT-CREATED */
#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point .content h1 {
    color: white;
    font-size: 40px;
    margin-top: 32px;
}

#modal.point .content img {
    width: 120px;
}