/* BOX MODEL

Modelo de caixa
toda caixa tem
Largura, Altura, Espaçamentos, Preenchimento
Bordas, Cor, Fundo, maneira que é vista pelo HTML (display),
Posicionamento, Alinhamentos
*/

body::after {
    content: "";
    position: fixed;
    background: white;
    top: 260px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#page-search-results {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-results header {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-search-results header a {
    display: flex;
    color: var(--title-color);
    font-weight: bold;
    align-items: center;
}

#page-search-results header a span {
    background-image: url('../assets/arrow-left.svg');
    margin-right: 16px;
    display: flex;
    width: 20px;
    height: 25px;
}

main {
    margin: 48px 0;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .card h1 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color:var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
}